
h1{
    color: darkgreen;
    font-size: 20px;
    text-align: start;
}
.moi{
    color: rgb(81, 90, 60);

}
body{
    background-color: rgb(195, 180, 160);
}
table{
    background-color: darkseagreen;
    text-align: center;

}
   